Source: ros-rolling-rmf-traffic-examples
Section: misc
Priority: optional
Maintainer: Grey <grey@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-rmf-traffic, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-rmf-traffic-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-rmf-traffic, ros-rolling-ros-workspace
Description: Examples of how to use the rmf_traffic library
