Source: ros-kilted-rmf-traffic
Section: misc
Priority: optional
Maintainer: Grey <grey@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), cmake, libccd-dev, libeigen3-dev, ros-kilted-ament-cmake-catch2 <!nocheck>, ros-kilted-ament-cmake-uncrustify <!nocheck>, ros-kilted-eigen3-cmake-module, ros-kilted-rmf-utils, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-rmf-traffic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libccd-dev, libeigen3-dev, ros-kilted-eigen3-cmake-module, ros-kilted-rmf-utils, ros-kilted-ros-workspace
Description: Package for managing traffic in the Robotics Middleware Framework
