Source: ros-rolling-rmf-traffic
Section: misc
Priority: optional
Maintainer: Grey <grey@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), libccd-dev, libeigen3-dev, libfcl-dev, ros-rolling-ament-cmake-catch2, ros-rolling-rmf-cmake-uncrustify, ros-rolling-rmf-utils, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-rmf-traffic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-rolling-rmf-utils, ros-rolling-ros-workspace
Description: Package for managing traffic in the Robotics Middleware Framework
